@import '../../assets/Scss/variables.scss';

.containerForm {
	color: $black;
	font-size: 18px;
	width: 35%;
	min-width: 500px;
	margin: 5% auto;
	padding: 2%;
	box-shadow: 0 0 5px $gray;
	font-family: Arial, Helvetica, sans-serif;
	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 35px;
		margin: 0;
		img {
			width: 60px;
			padding: 8px;
		}
	}
	form {
		display: flex;
		flex-direction: column;
		padding: 5%;
		input {
			padding: 10px;
			margin: 8px;
			font-size: 16px;
			&[type='submit'] {
				width: 40%;
				margin: 8px auto;
				background-color: $redOrange;
				color: $white;
				border: none;
				font-size: 16px;
				border-radius: 5px;
			}
		}
		label {
			padding: 8px;
		}
	}
	p {
		text-align: center;
		margin: 0;
		a {
			color: $redOrange;
			text-decoration: none;
		}
	}
}

@media (max-width: 800px) {
	.containerForm {
		width: 90%;
		min-width: unset;
		font-size: 16px;
		h1 {
			font-size: 22px;
			img {
				width: 40px;
			}
		}
	}
}
