@import '../../assets/Scss/variables.scss';
@import '../../Components/FormContainer/Form.module.scss';

.portfolioiImg {
	border-radius: 50%;
	width: 120px;
	box-shadow: 0 0 3px $gray;
}
.error {
	padding: 1% 5%;
	margin: 2% auto;
	width: 80%;
	color: $redOrange;
	background: rgba($gray, 0.4);
}
input[type='file'] {
	border: 1px solid $gray;
	position: relative;
	&::-webkit-file-upload-button {
		visibility: hidden;
	}
	&::before {
		content: 'Select Your Photo';
		background-color: $white;
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 1%;
	}
}
