@import "../../assets/Scss/variables.scss";

.navbar{
    background-color: $redOrange;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    h2{
        margin: 0;
        color: $white;
        padding: 10px;
    }
    a{
        text-decoration: none;
        color:$white;
    }
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        li{
            list-style: none;
            a{
                display: inline-block;
                padding: 10px 20px;
                &:hover{
                    text-shadow: 0 0 10px $black;
                }
            }
        }
    }
}